@model IEnumerable<QuanLyBanSach.Models.DONGHO>
@{
    ViewBag.Title = "SPTheoHang";
    Layout = "~/Views/Shared/_LayoutDongHo.cshtml";
}

<div class="container wow bounceInUp">
 <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   <h3 class="my-heading " style="color:red"> Đồng Hồ <span class="bg-main"></span></h3>
                  
                </ol>
            </nav>
        </div>
      </div>
    </div>
<br/>
                 @foreach(var DongHo in Model)
                {
                         <div class="col-md-4 wow slideInLeft">
                           <div class="card rounded" style="margin-top:20px">
            <div class="card-image">
                     <div class="box1 wow bounceInUp" >
                <img class="img-fluid " alt="@DongHo.TenDH" src="~/HinhAnhSP/@DongHo.AnhBia"   style="width:245px;height:244px" />
                          <h3 class="title">@DongHo.TenDH</h3>
                         <ul class="icon">
                          @*  <li><a href="#"><i class="fa fa-search"></i></a></li>*@
                         <li>  <a  href="@Url.Action("Details", "DongHo", new { id = DongHo.MaDH })"><i class="fa fa-search"></i></a></li>
                        </ul>
            </div>
                  
            <div class="card-image-overlay m-auto" style="text-align:center">
          
              
            </div>
            <div class="card-body text-center">
                @*<a class="ad-btn" href="@Url.Action("Details", "Sach", new { id = DongHo.MaDH })">Thêm Vào Giỏ</a>*@
               
                 <a class="ad-btn"  href="@Url.Action("ThemGioHang", "GioHang", new { @iMaDH = DongHo.MaDH, @strURL = Request.Url.ToString() })">Thêm Vào Giỏ</a>
            </div>
                
        </div>  
                               </div>
                      </div>
  
                 }
  
                    
                   
           
            
          

